body {
  padding: 3em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #000;
  color: #fff;
}
a {
  color: #00b7ff;
}
.home-button {
  background: #fff;
  position: fixed;
  top: 1em;
  left: 1em;
}
.home-button a {
  color: #000;
  width: 2em;
  height: 2em;
  display: block;
}
