body
	padding: 3em
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	background: black
	color: white
a
	color: #00B7FF
.home-button
	background: white
	position: fixed
	top: 1em
	left: 1em
	a
		color: black
		width: 2em
		height: 2em
		display: block